.anti-alias {
  font-smooth: always;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue-Roman.eot');
  src: url('../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Roman.woff') format('woff'), url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue-MedIta.eot');
  src: url('../fonts/HelveticaNeue-MedIta.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-MedIta.woff') format('woff'), url('../fonts/HelveticaNeue-MedIta.ttf') format('truetype'), url('../fonts/HelveticaNeue-MedIta.svg#HelveticaNeue-MedIta') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue-BoldIta.eot');
  src: url('../fonts/HelveticaNeue-BoldIta.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-BoldIta.woff') format('woff'), url('../fonts/HelveticaNeue-BoldIta.ttf') format('truetype'), url('../fonts/HelveticaNeue-BoldIta.svg#HelveticaNeue-BoldIta') format('svg');
  font-weight: 700;
  font-style: italic;
}
